<%- include("partials/header") -%>


  <h5>Add more amazing Facts</h5>
  <form action="/add" method="post">
    <input class="add-input" type="text" name="name" placeholder="Your Name"> <br>
    <input class="add-input" type="text" name="title" placeholder="Topic eg: Space Is COMPLETELY silent."> <br>
    <textarea class="add-input" rows="3" cols="50" name="content" placeholder="Fact eg: Information about the topic"></textarea> <br>
    <p class="add-source">I got this Information from : </p> <input class="add-input" type="text" name="source" placeholder="if any eg: www.google.com or www.spacex.com"> <br>
    <input class="add-button" type="submit" value="Add">
  </form>


<%- include("partials/footer") -%>
