<%- include("partials/header") -%>

  <h1 class="contact-heading">Do you Love Space ?</h1>
  <h3 class="contact-heading-h3">Have you heard any crazy shuff ? Wanna share with me, your New Astrophile Friend 😊</h3>
   <a href="https://www.instagram.com/sangeeeetaaaa/"><i style="font-size: 4rem;" class="fab fa-instagram icon"></i></a>
   <a href="https://twitter.com/ShettySangeetaa"><i style="font-size: 4rem;" class="fab fa-twitter icon"></i></a>
   <h3 class="contact-heading-h3">Have an idea ? and Want to work togather</h1>
   <a href="https://mail.google.com/mail/sangeeta3112002@gmail.com"><i style="font-size: 4rem;" class="far fa-envelope icon"></i></a>

<%- include("partials/footer") -%>
