<%- include("partials/header") -%>

<!-- <a onclick="changeTheme">change Theme</a> -->


    <div class="Intro">
      <h1 class="heading">Space Talks</h1>
      <h3 class="para"> Space is Awesome <br>Know Unknown talks on Space</h3>
      <a href="/card"><button class="explore-button">EXPLORE --></button></a>
  </div>

<!--
    <button class="Sun" type="button">Sun</button>
    <button class="Earth" type="button">Earth</button>
    <button class="Moon" type="button">Moon</button>
    <button class="Phobos" type="button">Phobos</button>
    <button class="Mars" type="button">Mars</button> <br> <br> -->

 <!-- function changeTheme() {

} -->

<%- include("partials/footer") -%>
