
body {
  background-color: black;
  text-align: center;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  font-family: 'Karla', sans-serif;
  color: White;
}



h1 {
  font-family: 'Karla', sans-serif;
  transition: ease 0.6s;
}

.contact-heading {
  margin-top: 100px;
  transition: 0.6s ease;
}

.contact-heading-h3 {
  width: 700px;
  margin-left: 500px;
  margin-bottom: 50px;
  margin-top: 100px;
  transition: 0.6s ease;
}

.icon {
  margin-top: 40px;
  transition: 0.6s ease;
}

.navbar {
  margin-left: 1200px;
}

.nav-link {
  color: white;
}

@media (max-width: 1220px) {
  .navbar {
    margin-left: 0;
  }
}


.Intro {
  margin-top: 200px;
  margin-left: 70px;
  transition: 0.6s ease;
}



.heading {
  font-family: 'Bowlby One SC', cursive;
  letter-spacing: 7px;
  transition: 0.6s ease;
}

.para {
  font-family: 'Josefin Slab', serif;
  letter-spacing: 2px;
  font-size: 30px;
  transition: ease 0.6s;
}




button {
  margin-top: 100px;
  color: white;
  height: 200px;
  width: 200px;
  margin-left: 100px;
  transition: 0.6s ease;
  border-radius: 15px;
}

.Sun {
  color: black;
  background-image: url("https://t4.ftcdn.net/jpg/02/01/58/05/240_F_201580545_QjDkvGRgsMsyWS6zoe15rW0Gj0Eg7LIN.jpg");
}

.Earth {
  background-image: url("https://t3.ftcdn.net/jpg/01/94/58/82/240_F_194588220_x3Z4mIUxHcfjjwoOoZco76tqnpyZFwE2.jpg");

}

.Moon {
  background-image: url("https://t3.ftcdn.net/jpg/00/88/73/22/240_F_88732212_mtlQvAzNIsyMGb3bg33fxIrnR8hsmyRO.jpg");
}

.Mars {
  background-image: url("https://t4.ftcdn.net/jpg/03/41/22/35/240_F_341223581_fjuMK6ZX1DcpuOzvKdwCPLYpUUtjnMqI.jpg");
}


.Phobos {
  background-image: url("https://t4.ftcdn.net/jpg/03/28/37/69/240_F_328376997_Mir9A7grC5aWYhv1zG6oEnLFeaC4JDKV.jpg");
}

.add-new-card {
  margin-top: 50px;
  color: white;
  text-decoration: underline;
}

.card {
  text-align: center;
  margin-top: 40px;
  margin-left: 20px;
  background-image: -webkit-linear-gradient(25deg, #eeeeee 40%, #ffffff 20%);
  transition: 0.6s ease;
}


.card-name {
  position: relative;
  margin-top: 30px;
  margin-bottom: 0;
}


.explore-button {
  color: white;
  background-image: url("https://t3.ftcdn.net/jpg/00/88/73/22/240_F_88732212_mtlQvAzNIsyMGb3bg33fxIrnR8hsmyRO.jpg");
  background-size: cover;
  border-radius: 0 100px;
  height: 80px;
  font-weight: bolder;
}



@media (max-width: 1200px) {
  .card-link {
    color: White;
    margin-left: 0;
  }
}

.card-title {
  color: black;
}

.card-body a {
  color: black;
  text-decoration: underline;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
}

.card-body a:hover {
  color: black;
}



.fullpage {
  margin-top: 150px;
  transition: 0.6s ease;
}

.fullpage-heading {
  margin-bottom: 40px;
  transition: 0.6s ease;
}





#footer {
  margin-top: 400px;
  margin-bottom: 50px;
  transition: 0.6s ease;
}
